.home {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* gap: 20px; */

    .homeButtons {
        display: flex;
        color: white;
        flex-direction: column;
        gap: 5px;

        .play {
            background: var(--primary);
            border: 1px solid var(--primary);

            &:hover {
                background: transparent;
                color: var(--primary);
            }
        }

        .options {
            background: var(--secondary);
            border: 1px solid var(--secondary);

            &:hover {
                background: transparent;
                color: var(--secondary);
            }
        }

        .howToPlay {
            background: var(--alternative);
            border: 1px solid var(--alternative);

            &:hover {
                background: transparent;
                color: var(--alternative);
            }
        }
    }

    p {
        position: absolute;
        bottom: 10px;
    }
}

.game {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background: var(--primary);
    /* background: url("https://i.pinimg.com/originals/db/43/e2/db43e2b576e60dba86af4e3ec7f41fc5.gif"); */

    .tableGame {
        height: 86%;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;

        .cards {
            display: flex;

            .card {
                width: 150px;
                margin-left: -90px;

                &:nth-child(1) {
                    margin-left: 0;
                }
            }
        }

        >div {
            height: calc(50% - 2px);
            display: flex;
            justify-content: space-between;
            align-items: center;

            >div {
                height: fit-content;
            }
        }

        .dealer {
            .points {
                height: fit-content;
                padding: 10px;
                background: #ffffff;

                >p {
                    text-align: center;
                    margin-bottom: 2px;
                }

                >div {
                    padding: 5px 60px;
                    background: #b6b6b6;
                    font-size: 20px;
                }
            }



            .deck {
                display: flex;
                margin-right: 40px;

                .card {
                    width: 150px;
                    margin-left: -163px;

                    &:nth-child(1) {
                        margin-left: 0;
                        margin-top: 0;
                        cursor: pointer;
                    }
                }
            }
        }

        hr {
            width: 40%;
            border-width: 2px;
            margin: 0 auto;
        }

        .player {
            .points {
                >div {
                    margin: 10px 0;
                }

                .pointsCount,
                .bet>div {
                    height: fit-content;
                    padding: 10px;
                    background: #ffffff;

                    >div {
                        padding: 5px 60px;
                        background: #b6b6b6;
                        font-size: 20px;
                    }

                    >p {
                        text-align: center;
                        margin-bottom: 2px;
                    }
                }

                .bet {
                    .moneyBet::before {
                        content: attr(data-currency);
                    }
                }
            }

            .cards_button {
                button {
                    margin: 12px auto;
                    padding: 5px 40px;
                    background: var(--alternative);
                }
            }

            .options {
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .actions {
                    width: 120px;
                    display: flex;
                    flex-direction: column;

                    button {
                        margin: 5px 0;
                        background: var(--alternative);
                    }
                }

                .bet {
                    display: flex;

                    .coin {
                        width: 70px;
                        margin-left: -60px;

                        img {
                            filter: drop-shadow(0 0 3px rgba(0, 0, 0, .25));
                        }
                    }
                }
            }

        }
    }

    .wallet {
        width: 85%;
        max-width: 1000px;
        height: 14%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &:hover .balance {
            visibility: visible;
            display: block;
        }

        .balance {
            width: 100%;
            padding-top: 20px;
            padding-left: 40px;
            font-size: 1.1rem;
            background: var(--secondary);
            display: none;
        }

        .coinsContainer {
            padding: 20px;
            background: var(--secondary);
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                height: fit-content;
                padding: 5px 20px;
                background: var(--primary);
                border-color: var(--primary);
            }
        }

        .coins {
            width: 90%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .coin {
                width: 60px;
                height: 60px;
                cursor: pointer;

                img {
                    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .25));
                }
            }
        }

    }
}